@using Assignment3_ShongChan.Services

<nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="fa-duotone fa-solid fa-book-open-reader" style="font-size: 30px"></span>
            <span class="ms-2">Conestoga Books</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav fs-4">
                <li class="nav-item">
                    <a class="nav-link @(NavigationHelper.IsActive(ViewContext, "Member", "Index") ? "active" : "")" asp-controller="Member" asp-action="Index">
                        <i class="fa-solid fa-house"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(NavigationHelper.IsActive(ViewContext, "Member", "Books") ? "active" : "")" asp-controller="Member" asp-action="Books">
                        <i class="fa-solid fa-book"></i> Books
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(NavigationHelper.IsActive(ViewContext, "Member", "MyBookList") ? "active" : "")" asp-controller="Member" asp-action="MyBookList">
                        <i class="fa-solid fa-bookmark"></i> My Book
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(NavigationHelper.IsActive(ViewContext, "Member", "IssueBook") ? "active" : "")" asp-controller="Member" asp-action="IssueBook">
                        <i class="fa-solid fa-hand-holding"></i> Issue Book
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(NavigationHelper.IsActive(ViewContext, "Member", "ReturnBook") ? "active" : "")" asp-controller="Member" asp-action="ReturnBook">
                        <i class="fa-solid fa-undo"></i> Return Book
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto fs-4">
                <partial name="_NavProfileDropDown" />
            </ul>
        </div>
    </div>
</nav>

<header class="text-center">
    <a asp-action="Index" asp-controller="Home">
        <img src="~/Images/library_banner.jpg" class="img-fluid center-block" style="width: 100%; height: 400px;" />
    </a>
</header>
